In [1]:
import pandas as pd
import numpy as np

In [2]:
data_test = pd.read_csv('sample_submission.csv')
data_not_test = pd.read_csv('input/implictBM25N5.csv')
data_baseline = pd.read_csv('baseline.csv')

In [3]:
data_test_array = np.array(data_test['Id'])
data_not_test_array = np.array(data_not_test['item_id'])
data_baseline_array = np.array(data_baseline['Predicted'])

# Переводит из текста в массив
## В некоторых местах было предсказано лишь 5 фильмов для пользователей, вместо них вставляем значения из poprecommend

In [126]:
for i in range(len(data_not_test_array)):
    try:
        data_not_test_array[i] = np.array([int(data_not_test_array[i].replace('[', '').replace(']', '').split(',')[t]) for t in range(10)])        
    except:
        print(i)
        data_not_test_array[i] = [283713, 276903, 184549, 168963, 357309, 385281,  50718, 112869, 242176, 93751]
recs4 = pd.DataFrame({'Id': data_test['Id'].unique() })
recs4['Predicted'] = data_not_test_array
recs4

50
70
589
615
718
729
803
924
1143
1152
1171
1286
1389
1435
1514
1648
1662
1678
1921
1926
2104
2616
2655
2933
2943
3011
3013

          Id                                          Predicted
0      10001  [296208, 297168, 235765, 237354, 234997, 27019...
1      10002  [378939, 43309, 327688, 240408, 54436, 234926,...
2     100152  [82211, 5526, 167562, 210478, 113057, 137774, ...
3     100197  [179505, 268152, 267417, 247795, 285127, 35120...
4     100284  [343815, 168733, 273724, 312572, 240559, 17074...
...      ...                                                ...
3069   99734  [74523, 71718, 328046, 44210, 108206, 26094, 1...
3070   99757  [386293, 181195, 38238, 379815, 2280, 31574, 1...
3071   99772  [295325, 372896, 374175, 77074, 182009, 197534...
3072   99827  [59710, 332422, 333753, 275148, 149928, 347571...
3073   99881  [270231, 64801, 132798, 358475, 201301, 332489...

[3074 rows x 2 columns]

# Переводит половину

In [13]:
recs_array = [k for k in range(len(data_test_array))]
x = int(len(recs_array)/2)
recs_array[0:x] = data_not_test_array[0:x]
recs_array[x:len(recs_array)] = data_baseline_array[x:len(recs_array)]

for i in range(x):
    recs_array[i] = np.array([int(recs_array[i].replace('[', '').replace(']', '').split(',')[t]) for t in range(10)])
recs2 = pd.DataFrame({'Id': data_test['Id'].unique() })
recs2['Predicted'] = recs_array

In [45]:
recs3.to_csv('implict_prediction10.csv', index=False)

# Просто переводит из текста в массив

In [77]:
data_not_test_array

array([array([296208, 297168, 235765, 234997, 270194,  79674, 151006, 165935,
       145823, 310364]),
       array([378939,  43309, 327688, 240408,  54436, 302932,  55145, 226237,
       326831, 347233]),
       array([ 82211,   5526, 167562, 210478, 113057, 137774,  44107, 263978,
       110409, 279976]),
       ...,
       '[295325, 372896, 374175, 77074, 330775, 197742, 57093, 109200, 3869, 235937]',
       '[333753, 59710, 213996, 336539, 200936, 45218, 383447, 35034, 332422, 92090]',
       '[270231, 358475, 201301, 250647, 29237, 132798, 259363, 306227, 28736, 344432]'],
      dtype=object)

In [76]:
for i in range(len(data_not_test_array)):
    data_not_test_array[i] = np.array([int(data_not_test_array[i].replace('[', '').replace(']', '').split(',')[t]) for t in range(10)])
recs4 = pd.DataFrame({'Id': data_test['Id'].unique() })
recs4['Predicted'] = data_not_test_array
recs4

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50

IndexError: list index out of range

In [127]:
recs4.to_csv('implictBM25N5.csv', index=False)

# Тут часть из baseline, часть из implicit

In [12]:
a = data_test[data_test['Id'] == 10309].index
new_data = [k for k in range(len(data_test_array))]
new_data[0:a[0]] = data_not_test_array[0:a[0]]
new_data[a[0]:len(data_baseline)] = data_baseline_array[a[0]:len(data_baseline)]
for i in range(a[0]):
    new_data[i] = np.array([int(new_data[i].replace('[', '').replace(']', '').split(',')[t]) for t in range(10)])
recs3 = pd.DataFrame({'Id': data_test['Id'].unique() })
recs3['Predicted'] = new_data
recs3

          Id                                          Predicted
0      10001  [296208, 297168, 235765, 237354, 266602, 13279...
1      10002  [378939, 43309, 327688, 240408, 54436, 12597, ...
2     100152  [279782, 168056, 44107, 167562, 137774, 202167...
3     100197  [179505, 247795, 92468, 267417, 268152, 138423...
4     100284  [343815, 273724, 168733, 312572, 170741, 16426...
...      ...                                                ...
3069   99734  [283713 276903 184549 168963 357309 385281  50...
3070   99757  [283713 276903 184549 168963 357309 385281  50...
3071   99772  [283713 276903 184549 168963 357309 385281  50...
3072   99827  [283713 276903 184549 168963 357309 385281  50...
3073   99881  [283713 276903 184549 168963 357309 385281  50...

[3074 rows x 2 columns]